{% extends 'base.html' %}

{% block content %}
<div class="card bg-dark text-light border-0 my-4">
  <div class="card-body">
    <h2 class="h5 mb-4">Редагувати коментар</h2>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}

      <div class="mt-3 d-flex gap-2">
        <button type="submit" class="btn btn-outline-light btn-sm">💾 Зберегти</button>
        <a href="{% url 'task_detail' form.instance.task.pk %}" class="btn btn-outline-secondary btn-sm">❌ Відмінити</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
