{% extends 'base.html' %}

{% block content %}
<div class="container my-5" style="max-width: 600px;">
  <h4 class="mb-4 text-center">Редагувати коментар</h4>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.as_p }}
    </div>

    <div class="d-flex justify-content-center gap-2">
      <button type="submit" class="btn btn-dark btn-sm">
        Зберегти
      </button>
      <a href="{% url 'task_detail' form.instance.task.pk %}" class="btn btn-outline-secondary btn-sm">
        Відмінити
      </a>
    </div>
  </form>
</div>
{% endblock %}
