{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4 text-center text-info fw-bold text-uppercase"
    style="text-shadow: 0 0 8px #0ff, 0 0 20px #0ff;">
    Реєстрація
</h1>

<div class="card p-4 shadow-lg bg-dark text-white" style="max-width: 500px; margin: 0 auto; border: 2px solid #0ff;">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" class="btn btn-primary w-100 mt-3 fw-bold text-uppercase shadow"
                style="box-shadow: 0 0 10px #00f;">
            Зареєструватися
        </button>
    </form>
</div>
{% endblock %}
